#example app.service file for running PlateSolver as a system service on Raspberry Pi

[Unit]
Description=uWSGI instance to serve simple dynamic plugin
After=network.target

[Service]
User=plate_solver
WorkingDirectory=/home/plate_solver/PlateSolver/gui/
ExecStart=/usr/local/bin/uwsgi --ini app.ini --honour-stdin
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
